---
# tasks file for ansible-clickhouse-keeper
- name: Keeper 접근용 포트 개방(SSL)
  ansible.posix.firewalld:
    port: "{{ keeper_secured_port }}/tcp"
    zone: "{{ firewall_zone }}"
    permanent: yes
    immediate: yes
    state: enabled
  when: 
    - enable_ssl
    - setup_firewall
- name: Keeper 접근용 포트 개방
  ansible.posix.firewalld:
    port: "{{ keeper_port }}/tcp"
    zone: "{{ firewall_zone }}"
    permanent: yes
    immediate: yes
    state: enabled
  when: setup_firewall
- name: Keeper간 협상용 포트 개방
  ansible.posix.firewalld:
    port: "{{ negotiator_port }}/tcp"
    zone: "{{ firewall_zone }}"
    permanent: yes
    immediate: yes
    state: enabled
  when: setup_firewall
- name: Install python3-pip
  package:
    name: python3-pip
    state: installed

- name: 호스트별 인덱스 계산 (1부터 시작)
  set_fact:
    keeper_index: "{{ groups['keeper'].index(inventory_hostname) + 1 }}"
  when: 
    - "'keeper' in groups"
    - "inventory_hostname in groups['keeper']"
- name: keeper_index가 정의되지 않았다면 기본값 1로 설정
  set_fact:
    keeper_index: 1
  when: keeper_index is not defined

- name: Add ClickHouse YUM repository
  ansible.builtin.yum_repository:
    name: clickhouse-stable
    description: "ClickHouse - Stable Repository"
    baseurl: https://packages.clickhouse.com/rpm/stable/
    gpgcheck: no
    gpgkey: https://packages.clickhouse.com/rpm/repodata/repomd.xml.key
    enabled: yes
- name: Install clickhouse-keeper
  dnf:
    name: clickhouse-keeper
    state: installed
- name: Create directory
  file:
    path: "/etc/clickhouse-keeper/{{ item }}"
    owner: clickhouse
    group: clickhouse
    mode: "755"
    state: directory
  with_items:
    - "tls"
    - "ca"
  when: enable_ssl
- template:
    src: templates/keeper_config.xml.j2
    dest: /etc/clickhouse-keeper/keeper_config.xml
  when: 
    - "'keeper' in groups"
    - "inventory_hostname in groups['keeper']"
- name: Pre-install and setup about CA and Server certificates
  include_tasks: setup_ca.yml
  when:
   - enable_ssl
   - setup_ca_cert 

- name: Create kazoo client program
  template:
    src: templates/kazoo_cli.py.j2
    dest: kazoo_cli.py
  connection: local
  run_once: true
