<clickhouse>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-keeper/clickhouse-keeper.log</log>
        <errorlog>/var/log/clickhouse-keeper/clickhouse-keeper.err.log</errorlog>
        <!-- Rotation policy
             See https://github.com/pocoproject/poco/blob/poco-1.9.4-release/Foundation/include/Poco/FileChannel.h#L54-L85
          -->
        <size>1000M</size>
        <count>10</count>
        <!-- <console>1</console> --> <!-- Default behavior is autodetection (log to console if not daemon mode and is tty) -->
    </logger>

    <max_connections>4096</max_connections>
    <listen_host>0.0.0.0</listen_host>
    {% if enable_ssl %}

    <openSSL>
	    <server>
             <certificateFile>/etc/clickhouse-keeper/tls/server.crt</certificateFile>
             <privateKeyFile>/etc/clickhouse-keeper/tls/server.key</privateKeyFile>
             <verificationMode>relaxed</verificationMode>
             <caConfig>/etc/clickhouse-keeper/ca/ca.crt</caConfig>
             <cacheSessions>true</cacheSessions>
             <disableProtocols>sslv2,sslv3</disableProtocols>
             <preferServerCiphers>true</preferServerCiphers>
	    </server>
        <client>
            <loadDefaultCAFile>false</loadDefaultCAFile>
            <caConfig>/etc/clickhouse-keeper/ca/ca.crt</caConfig>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <verificationMode>relaxed</verificationMode>
            <invalidCertificateHandler>
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
	</openSSL>{% endif %}

    <keeper_server>
        {% if enable_ssl %}<tcp_port_secure>{{ keeper_secured_port }}</tcp_port_secure>
        {% else %}<tcp_port>{{ keeper_port }}</tcp_port>{% endif %}

        <!-- Must be unique among all keeper serves -->
        <server_id>{{ keeper_index }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/logs</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <min_session_timeout_ms>10000</min_session_timeout_ms>
            <session_timeout_ms>100000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
            <compress_logs>false</compress_logs>
        </coordination_settings>

        <hostname_checks_enabled>false</hostname_checks_enabled>
        <raft_configuration>
            {% if enable_ssl %}<secure>true</secure>{% endif %}
            {% for host in groups['keeper'] %}

            <server>
                <id>{{ loop.index }}</id>
                <hostname>{{ host }}</hostname>
                <port>{{ negotiator_port }}</port>
            </server>{% endfor %}

        </raft_configuration>
    </keeper_server>
</clickhouse>
